<section class="bg-zinx-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl font-bold my-5">About us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus autem adipisci rem, similique sapiente placeat cumque quod. At, facere dignissimos. Explicabo sed error cupiditate facere aspernatur dolorum enim consectetur!</p>
</section>