---
import Layout from "../components/Layout.astro";
const currentLang = "en";
---

<Layout
  pageTitle="Privacy policy - ATSYS"
  pageDescription="Discover the privacy policy of our ATSYS website, specialized in management. Come in and meet them!"
  lang={currentLang}
>
<div class="text-white p-40 bg-ciblue">
  <h1 class="text-5xl">Privacy policy - Arkitech Systems SAS</h1>
  <div class="py-11">
    <div class="container py-5">
      <div>
        <p>
          Arkitech Systems S.A.S., responsible for the processing of Personal Data,
          (hereinafter, “THE COMPANY”), in compliance with the provisions of the Law
          1581 of 2012, its regulatory decrees and other corresponding norms,
          informs that the personal data that you provide under the activities or
          operations carried out with THE COMPANY, will be treated as according to
          its Personal Data Protection policy and through the use and maintenance of
          technical, physical and security measures administrative measures in order
          to prevent unauthorized third parties from accessing the themselves.
        </p><ol><li><strong> Responsible for Treatment </strong></li></ol><p>
          Arkitech Systems S.A.S. entity domiciled in the city of Bogotá D.C.,
          Colombia.
        </p><p>
          For more information you can contact us at Email <a
            href="mailto:hello@atsys.co">hello@atsys.co</a
          >.
        </p><ol start="2"><li><strong> Treatment and Purpose</strong></li></ol><p>
          The Personal Data provided will be collected, used, transmitted,
          transferred, stored and processed for the following purposes:
        </p><ul>
          <li>
            To fulfill the obligations contracted by THE COMPANY with its customers
            when purchasing our products;
          </li><li>
            Send information about changes in product conditions offered by THE
            COMPANY;
          </li><li>
            Send information about offers related to the products you offers THE
            COMPANY and its related companies;
          </li><li>
            To strengthen relationships with its consumers and customers, by sending
            relevant information, taking orders and evaluation of service quality;
          </li><li>
            Allow the participation of holders in marketing activities and
            promotional activities (including participation in contests, raffles and
            draws) carried out by THE COMPANY;
          </li><li>
            Conduct market research on purchasing habits and analysis statistics for
            internal uses;
          </li><li>
            To determine pending obligations, the consultation of financial
            information and credit history and reporting to credit centers
            information on unfulfilled obligations, regarding their debtors;
          </li><li>
            To improve, promote and develop your products and those of your
            companies linked worldwide;
          </li><li>
            Control access to THE COMPANY offices and establish measures security,
            including the establishment of video surveillance areas;
          </li><li>
            Respond to queries, requests, complaints and claims that are made by the
            owners and transmit the Personal Data to control agencies and other
            authorities that by virtue of the law applicable must receive the
            Personal Data;
          </li><li>
            To eventually contact, via email, or by any other means, to natural
            persons with whom you have or have had a relationship, such as, without
            the enumeration meaning limitation, workers and relatives of these,
            shareholders, consumers, clients, distributors, suppliers, creditors and
            debtors, for the purposes mentioned before.
          </li><li>
            Register your personal data in LA information systems COMPANY and in its
            commercial and operational databases.
          </li><li>
            Manage and operate, directly or through third parties, the personnel
            selection and hiring processes, including the evaluation and
            qualification of participants and verification of work and personal
            references, and carrying out studies of security;
          </li><li>
            Develop the activities of human resources management within THE COMPANY,
            such as payroll, affiliations to entities of the general social security
            system, welfare and health activities occupational, exercise of the
            employer's sanctioning power, among others;
          </li><li>
            Make the necessary payments derived from the execution of the contract
            job and/or its termination, and the other social benefits to which place
            in accordance with applicable law;
          </li><li>
            Contract labor benefits with third parties, such as life insurance,
            medical expenses, among others;
          </li><li>
            Notify authorized contacts in case of emergencies during the work
            schedule or on the occasion of its development;
          </li><li>
            Coordinate the professional development of employees, access to
            employees to the IT resources of the Empleator and assist in his
            utilization;
          </li><li>
            To consolidate a timely and quality supply with its Suppliers, through
            the invitation to participate in selection processes, the evaluation of
            compliance with their obligations and the invitation to events organized
            or sponsored by THE COMPANY, among others;
          </li><li>
            Transfer the information collected to different areas of THE COMPANY and
            to its related companies in Colombia and abroad when this is necessary
            for the development of your operations and payroll management (portfolio
            collection and administrative collections, treasury, accounting, among
            others);
          </li><li>
            Register contractors and suppliers in LA systems COMPANY and process
            your payments;
          </li><li>
            For the attention of judicial or administrative requirements and the
            compliance with judicial or legal orders;
          </li><li>For payment processing and balance verification;</li><li>
            Train sellers and agents in basic aspects of commercial management of
            the products offered by THE COMPANY;
          </li><li>
            Any other activity of a similar nature to those above described that are
            necessary to develop the corporate purpose of LA COMPANY.
          </li>
        </ul><ol start="3">
          <li><strong>Rights of the owner of Personal Data</strong></li>
        </ol><p>
          Natural persons whose Personal Data is subject to Processing on the part
          of the Company, have the rights provided for in the Constitution Politics
          of Colombia, Law 1581 of 2012 and its regulatory decrees, and in
          particular:
        </p><ul>
          <li>
            Know the Personal Data on which THE COMPANY is performing the Treatment.
            Likewise, the owner can request at any time, that your data be updated
            or rectified, For example, if he finds that your data is partial,
            inaccurate, incomplete, fragmented, misleading, or those whose Treatment
            is expressly prohibited or has not been authorized.
          </li><li>
            Request proof of the authorization granted to THE COMPANY for the
            Processing of your Personal Data.
          </li><li>
            Be informed by THE COMPANY, upon request, regarding the use that This
            has given you your Personal Data.
          </li><li>
            Submit complaints to the Superintendency of Industry and Commerce for
            violations of the provisions of the Personal Data Protection Law.
          </li><li>
            Request THE COMPANY to delete your Personal Data and/or revoke the
            authorization granted for the Treatment of the same, through the
            submission of a claim, in accordance with the procedures established in
            section 11 of the Data Protection Policy COMPANY personnel. However, the
            request to delete the information and the revocation of the
            authorization will not proceed when the Owner of the information has a
            legal or contractual duty to remain in the Database and/or files, nor
            while it is the relationship between the owner and THE COMPANY is in
            force, by virtue of which their data were collected.
          </li><li>Free access to your Personal Data subject to Processing.</li><li>
            Refrain from answering questions about sensitive data. They will have
            optional nature the answers that deal with boys, girls and adolescents
            and those related to health data.
          </li>
        </ul><ol start="4">
          <li>
            <strong> Mechanisms to know the Personal Data Protection Policy</strong>
          </li>
        </ol><p>
          We invite you to learn about the Personal Data Protection Policy of THE
          COMPANY, which includes the procedures so that the holders of Personal
          Data can exercise their rights to know, update, rectify and delete the
          information and revoke the authorization, and It is available for
          consultation on the website <a href="https://atsys.co">atsys.co</a>
        </p><p>
          For doubts and concerns related to these topics, you can write to us at
          email <a href="mailto:hello@atsys.co">hello@atsys.co</a>.
        </p><p>Bogotá D.C., September 22, 2020.</p>
      </div>
    </div>
  </div>
</div>
</Layout>
