---
import Layout from "../components/Layout.astro";
const currentLang = "en";
---
<Layout
    pageTitle="Quality policy - ATSYS"
    pageDescription="Discover the terms and conditions of our ATSYS website, specialized in the development of web and mobile applications, as well as custom software. Come in and meet them!"
    lang={currentLang}
>
    <div class="text-white p-40 bg-ciblue">
        <div style="" class="absolute w-full h-full"></div>
        <h1 class="text-5xl">Quality policies - Arkitech Systems SAS</h1>
        <div class="py-11">
            <div class="container py-5">
                <p class="mb-2">
                    Arkitech Systems S.A.S. always seeks to satisfy the needs of
                    our clients, therefore, through the development of solutions
                    custom software and provision of specialized services,
                    supported by the competence of our human talent, in the
                    necessary infrastructure, in the constant search for opportunities
                    of improvement, in compliance with the applicable legal requirements
                    and in social responsibility towards our stakeholders.
                </p>
                <p class="mb-2">
                    The objectives and decisions regarding quality are linked and
                    They are part of the company's policy and are reflected in this <b>Quality Policy</b> which presents the following bases:
                </p>
                <div class="mb-2">
                    <ul>
                        <li>
                            <strong>Satisfaction:</strong> The <strong>total satisfaction</strong> of all our clients, always obtaining the highest quality in all computer services actions and training actions that <strong>Arkitech Systems SAS</strong> develops.
                        </li>
                        <li>
                            <strong>Awareness of the situation:</strong> Study the <b>needs of our current and future clients</b> to be able to detect and comment on what they are looking for to serve as a basis for providing improvement keep going.
                        </li>
                        <li>
                            Identify the <strong>infrastructure needs</strong> necessary to be able to adapt to the demands of society.
                        </li>
                        <li>
                            <strong>Involve, motivate and commit staff</strong> in order to seek their participation in the management, development and application of the Quality system.
                        </li>
                        <li>
                            <strong>Promote and encourage training actions</strong> among our staff, which will allow us to always have qualified personnel.
                        </li>
                        <li>
                            Establish <strong>ties of complementarity and understanding</strong> between companies in our same field.
                        </li>
                        <li>
                            Guarantee compliance with the requirements established in any request for a computer service or training action.
                        </li>
                        <li>
                            Guarantee that any <strong>claim, complaint or suggestion</strong> provided by our clients is attended to as quickly and efficiently as possible.
                        </li>
                        <li>
                            Maintain <strong>permanent contact</strong> with our <strong>suppliers</strong> in order to stay up to date regarding economic conditions and delivery times.
                        </li>
                        <li>
                            Search and implement <strong>corrective actions</strong> for each one of the problems that arise in the company, maintaining contacts with interested parties in order to be able to collaborate jointly in improving the quality of our services and products.
                        </li>
                        <li>
                            <strong>Arkitech Systems SAS</strong> will use the methodology of the <strong>risk assessment</strong> of processes to prevent possible deviations or non-conformities of the management system of quality and being able to take action.
                        </li>
                        <li>
                            Carry out, on a permanent basis, the evaluation of the application and effectiveness of these provisions, guaranteeing the <strong>improvement of our Quality System</strong>.
                        </li>
                        <li>
                            Coherent objectives regarding this policy will be defined annually and their due compliance must be achieved.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</Layout>
