---
interface Props {
    title? : string
    content? : string
    aboutLink? : string
}
const { title = 'Default', content = 'Default' } = Astro.props;
---
<section class="text-white flex md:flex-row flex-col gap-0 h-screen">
    <div class="col lg:w-1/2 md:w w-full  lg:px-20 px-11 pt-11 bg-black flex md:flex-row flex-column content-center items-center h-screen">
        <div>
            <h2 class="text-4xl mb-6">{title}</h2>
            <div set:html={content} class="text-1xl md:text-2xl"></div>
            <div class="md:pt-11 pt-3">
                <ul class="home-services">
                    <li><span>UI/UX</span></li>
                    <li><span>SEO</span></li>
                    <li><span>SOFT-M</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col lg:w-1/2 w-full md:block hidden home-about-video">
        <div>
            <video autoplay loop muted>
                <source src="/assets/atsys-home-about-us.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>
