---
import Layout from "../../components/Layout.astro";
const currentLang = "es";
---

<Layout
    pageTitle="Política de calidad - ATSYS"
    pageDescription="Descubre la política de calidad de nuestra página web ATSYS, especializada en el desarrollo de aplicaciones web y móviles, así como en software a medida. ¡Entra y conócelos!"
    lang={currentLang}
>
    <div class="text-white p-40 bg-ciblue">
        <h1 class="text-5xl">Política de calidad - Arkitech Systems SAS</h1>
        <div class="py-11">
            <div class="container py-5">
                <p class="mb-2">Arkitech Systems S.A.S. siempre busca satisfacer las necesidades de nuestros clientes, por ello, a través del desarrollo de soluciones de software a la medida y prestación de servicios especializados, apoyados en la competencia de nuestro talento humano, en la infraestructura necesaria, en la búsqueda constante de oportunidades de mejora, en el cumplimiento de los requerimientos legales aplicables y en la responsabilidad social frente a nuestras partes interesadas.</p>
                <p class="mb-2">Los objetivos y decisiones en relación con la calidad están ligadas y forman parte de la política de la empresa quedando reflejados en ésta <b>Política de Calidad</b> que presenta las siguientes bases:</p>
                <div class="mb-2">
                    <ul>
                        <li class="mb-4">
                            <strong>Satisfacción:</strong> La <strong>satisfacción total</strong> de todos nuestros clientes, obteniendo siempre la máxima calidad en todas las acciones de servicios informáticos y acciones formativas que <strong>Arkitech Systems SAS</strong> desarrolla.
                        </li>
                        <li class="mb-4">
                            <strong>Conocimiento de la situación:</strong> Estudiar las <b>necesidades de nuestros clientes</b> actuales y futuros para poder detectar y comentar qué es lo que busca para que sirva de base con el fin de brindar una mejora continua.
                        </li>
                        <li class="mb-4">
                            Identificar las <strong>necesidades de infraestructuras</strong> necesarias para poder adecuarnos a las demandas de la sociedad.
                        </li>
                        <li class="mb-4">
                            <strong>Implicar, motivar y comprometer al personal</strong> con el objeto de buscar su participación en la gestión, desarrollo y aplicación del sistema de Calidad.
                        </li>
                        <li class="mb-4">
                            <strong>Promover y fomentar acciones formativas</strong> entre nuestro personal, que nos permitirán disponer siempre de personal calificado.
                        </li>
                        <li class="mb-4">
                            Establecer <strong>lazos de complementariedad y entendimiento</strong> entre las empresas de nuestro mismo ámbito.
                        </li>
                        <li class="mb-4">
                            Garantizar el <strong>cumplimiento de los requisitos</strong> establecidos en cualquier petición de servicio informático o acción formativa.
                        </li>
                        <li class="mb-4">
                            Garantizar que cualquier <strong>reclamación, queja o sugerencia</strong> provista por nuestros clientes sea atendida con la mayor rapidez y eficacia.
                        </li>
                        <li class="mb-4">
                            Mantener <strong>contacto permanente</strong> con nuestros <strong>proveedores</strong> con el fin de mantenernos al día en cuanto a condiciones económicas y plazos de entrega.
                        </li>
                        <li class="mb-4">
                            Buscar e implantar <strong>acciones correctivas</strong> a cada uno de los problemas que se presenten en la empresa, manteniendo contactos con las partes interesadas con fin de poder colaborar de manera mancomunada en la mejora de la calidad de nuestros servicios y productos.
                        </li>
                        <li class="mb-4">
                            <strong>Arkitech Systems SAS</strong> utilizará la metodología de la <strong>evaluación de riesgos</strong> de los procesos para prevenir las posibles desviaciones o no conformidades del sistema de gestión de calidad y poder tomar acciones.
                        </li>
                        <li class="mb-4">
                            Realizar, de forma permanente, la evaluación de la aplicación y eficacia de estas disposiciones, garantizando la <strong>mejora de nuestro Sistema de Calidad</strong>.
                        </li>
                        <li class="mb-4">
                            Anualmente se definirán unos <strong>objetivos coherentes sobre ésta política</strong> y que es de menester su debido cumplimiento.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</Layout>
